In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("fake_data.csv")

In [8]:
df

,date,sid,symbol,Constant_nonConstant,EPS_surprise,Sector,price_to_book,transactions,returns_1mo_forward,returns_3mo_forward,transactions$YoY,transactions$QoQ,transactions$QQYY
0,2006-01-03,1234,CAKE,0.933179,-0.007353,Consumer Services,3.99316,3.747790e+08,0.018553,-0.002958,NaN,NaN,NaN
1,2006-01-03,1787,COST,1.218542,0.006901,Consumer Non-Cyclicals,2.61398,6.597873e+09,-0.007820,0.091378,NaN,NaN,NaN
2,2006-01-03,3496,HD,1.365184,0.054695,Consumer Cyclicals,3.33687,2.787000e+10,-0.024491,0.030616,NaN,NaN,NaN
3,2006-01-03,3846,DIN,2.117332,0.135531,Consumer Services,2.49685,3.272870e+08,0.029802,-0.008905,NaN,NaN,NaN
4,2006-01-03,4313,KSS,2.502261,0.006178,Consumer Non-Cyclicals,2.82385,3.995940e+09,-0.060363,0.092550,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
24342,2018-12-31,3846,DIN,1.337881,0.004926,Consumer Services,3.15025,-1.656700e+07,0.139908,0.381292,-0.808770,-0.587413,-0.520992
24343,2018-12-31,4313,KSS,2.010939,0.026666,Consumer Non-Cyclicals,2.32688,1.322400e+10,0.041604,0.068697,0.046948,0.004634,1.336750
24344,2018-12-31,12652,DLTR,1.600609,0.031481,Consumer Non-Cyclicals,2.55136,4.666900e+09,0.063441,0.147808,0.580607,0.000000,NaN
24345,2018-12-31,12882,DRI,0.399856,0.010816,Consumer Services,6.23661,6.935000e+08,0.070588,0.214712,0.346602,0.054592,-1.677987
24346,2018-12-31,43201,FIVE,2.914763,0.092467,Consumer Non-Cyclicals,12.84670,1.725730e+08,0.187921,0.179908,2.893180,0.084976,-0.703690

In [9]:
target = "EPS_surprise"
feature_1 = "transactions$QQYY"

In [7]:
df[target]

0       -0.007353
1        0.006901
2        0.054695
3        0.135531
4        0.006178
           ...
24342    0.004926
24343    0.026666
24344    0.031481
24345    0.010816
24346    0.092467
Name: EPS_surprise, Length: 24347, dtype: float64

In [10]:
df[feature_1]

0             NaN
1             NaN
2             NaN
3             NaN
4             NaN
           ...
24342   -0.520992
24343    1.336750
24344         NaN
24345   -1.677987
24346   -0.703690
Name: transactions$QQYY, Length: 24347, dtype: float64

In [12]:
compare_df = df[[feature_1, target]]

In [13]:
compare_df.corr()

                   transactions$QQYY  EPS_surprise
transactions$QQYY           1.000000     -0.000545
EPS_surprise               -0.000545      1.000000

In [ ]:
def cal_hit(ts):
    ts = ts.dropna()
    same_sign_counts, diff_sign_counts = sum(ts > 0), sum(ts <= 0)
    hit_rate = same_sign_counts / (same_sign_counts + diff_sign_counts)   
    return(hit_rate)

def run_single_factor_single_ticker(data):
    current_ticker = data['symbol'].unique()[0]
    print("single ticker: ", current_ticker)
    display(data.tail(5))
    compare_df = data[[factor_select.value, target_select.value]]
    print("Correlation:")
    display(compare_df.corr())
    print("Hit Rate (Same Sign):")
    check_sign = compare_df[factor_select.value] * compare_df[target_select.value]
    check_sign.index = data["date"]
    check_sign = check_sign.dropna()
    display(check_sign.tail(5))
#     check_sign_mvg60 = check_sign.rolling(60).mean()
    check_sign_mvg60 = check_sign.rolling(60).apply(cal_hit)
    check_sign_mvg60.plot(rot=45)
    same_sign_counts, diff_sign_counts = sum(check_sign > 0), sum(check_sign <= 0)
    hit_rate = same_sign_counts / (same_sign_counts + diff_sign_counts)
    print("Over the history Hit Rate: ", hit_rate)